@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-50;
  }
}

@layer utilities {
  .bg-dot-grid {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #3f3f46 1px, transparent 1px);
  }
}
